<nav class="bg-light p-3">
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/dashboard}">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/courses}">Courses</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/applications}">Applications</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/students}">Students</a></li>
        <li class="nav-item"><a class="nav-link text-danger" th:href="@{/logout}">Logout</a></li>
    </ul>
</nav>